[Unit]
Description=DiscordChatBot - Discord bot with catgirl personality
After=network.target

[Service]
WorkingDirectory=/root/DiscordChatBot
ExecStart=/usr/bin/dotnet /root/DiscordChatBot/out/DiscordChatBot.dll

# запуск от root (как и vlkbot.service, раз репозиторий в /root)
User=root

Restart=on-failure
RestartSec=5

# логирование
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
